*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.container{
    height: 100px;
    width: 400px;
    background: linear-gradient(rgba(54, 177, 235, 0.274), rgb(7, 63, 184));
    border: 2px solid rgb(14, 13, 13,.3);
    position: relative;
    padding: 20px;
    border-radius: 10px;
    transition: height .6s ease;
}
.search-box{
    position: relative;
    height: 55px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
.search-box i{
    position: absolute;
    left: 10px;
    font-size: 25px;

}
.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    border: 2px solid rgb(6, 57, 116);
    /* outline: none; */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    padding: 0 47px 0 42px;
}
.search-box button{
    position: absolute;
    right: 0;
    height: 100%;
    width: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    /* color: rgb(6, 57, 116); */
    padding:0 10px 0 6px;
    cursor: pointer;
}
.search-box input::placeholder{
    color: black;
    text-transform: capitalize;
}
.weather-box{
    text-align: center;
    margin: 40px 0;
}
.weather-box,
.weather-details,
.notfound{
    overflow: hidden;
    visibility: hidden;
}
.weather-box.active,
.weather-details.active,
.notfound.active{
    visibility: visible;
}
.weather-box .box,
.notfound .box{
    transform: translateY(-100%);
}
.weather-box.active .box,
.notfound.active .box{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}
.weather-box .box .info-weather{
    transform: translateY(-120%);
}
.container.active .weather-box .box .info-weather,
.container.active .weather-details .humidity .info-humidity,
.container.active .weather-details .wind .info-wind{
    transform: translateY(0%);
    transition: transform 1s ease;
}
.weather-box img{
    width: 50%;
}
.weather-box .temperature{
    position: relative;
    top: -30px;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}
.weather-box .temperature span{
position: absolute;
font-size: 24px;
margin-left: 4px;
}
.weather-box .description{
    position: relative;
    top: -30px;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.weather-details{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}
.weather-details .humidity,
.weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
}
.weather-details.active .humidity,
.weather-details.active .wind{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}
.weather-details .humidity .info-humidity,
.weather-details .wind .info-wind{
    transform: translateY(-120%);
    overflow: hidden;
}
.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}
.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}
.weather-details i{
    font-size: 56px;
    margin-right: 10px;
}
.weather-details span{
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}
.weather-details p{
    font-size: 14px;
    font-weight: 500;
}
.notfound{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 110px;
}
.notfound img{
width: 70%;
}
.notfound p{
    font-size: 22px;
    font-weight: 500;
}
.cityhide{
    display: none;
}

#clone-info-weather,
#clone-info-humidity,
#clone-info-wind{
    position: absolute;
    transform: translateY(-100%);
}

#clone-info-weather .weather{
    transform: translateY(120%);
    transition: transform 1s ease, opacity 0s;
    transition-delay: 0s,2s;
}
.weather-box:not(.active) #clone-info-weather .weather{
    opacity: 0;
    transition-delay: 0s;
}


.active-clone#clone-info-weather .weather{
    transform:translateY(0%)
}

#clone-info-humidity span,
#clone-info-wind span{
    transform:translateY(100%);
    transition: transform 1s ease;
}

.active-clone#clone-info-humidity span,
.active-clone#clone-info-wind span{
    transform: translateY(0%);
}
